<!DOCTYPE html>
<html>
  <head>
    <title>ThinkThrough</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <script type="text/javascript">
      window.smallGithubLogo = "<%= image_url('github.png') %>"
      window.smallLinkedinLogo = "<%= image_url('linkedin.png') %>"
      window.smallAngelistLogo = "<%= image_url('angelist.png') %>"
      window.smallMediumLogo = "<%= image_url('medium.png') %>"
      window.smallTrendingLogo = "<%= image_url('trending.png') %>"
      window.postPicture = "<%= image_url('postPicture.jpg') %>"
      window.kyle = "<%= image_url('kyle.jpg') %>"
      window.delete = "<%= image_url('delete-icon.png') %>"
    </script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
